<%= form_for @cocktail do |t| %>
  <div class="form-group">
  <%= t.label :name, 'Name' %>
  <%= t.text_area :name, class: "form-control" %>
  <%= t.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
